body{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #0B0A07;
}
/* created to give background image space*/
.Main-body{
  font-family: 'Poppins', sans-serif;
  background-image: url(https://res.cloudinary.com/onamusia/image/upload/v1569281466/arrow-2889040_1920_gthrpf.jpg) ;
position: absolute;
width: 1440px;
height: 500px;
left: 0px;
top: 70px;
box-shadow: inset 0 0 0 1000px rgba(0,0,0,.75);
}

/*Nav Bar Stuff*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

li a:hover {
  text-decoration: underline;
}

.firstline{
position: absolute;
width: 627px;
height: 133px;
left: 130px;
top: 131px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 58px;
color: #FFFFFF;
}

.secondline{
position: absolute;
width: 553px;
height: 98px;
left: 130px;
top: 220px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 36px;
line-height: 44px; 
color: rgba(255, 255, 255, 0.73);
}

.actionbutton{
position: absolute;
width: 246px;
height: 40px;
left: 130px;
top: 362px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
padding: 5px;
text-align: justify;

border: 1px solid ,rgba(255, 255, 255, 0.73);
outline: 5px solid rgba(255, 255, 255, 0.73);
color: rgba(255, 255, 255, 0.73);
}

i {
  border: solid #FFFFFFba;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

a{
  color:rgba(255, 255, 255, 0.73) ;
  text-decoration: none;
}